<div class="RightContentWrap ">
    
    <div class="PassWordChangePageWrap">
        <div class="PassWordChangePageInner">
            <div class="PassWordChangeText">修改密码</div>
            <div class="PassWordChangeStar">
                <div class="PassBox PassBox1">
                    <label class="PassWordChangeDesc">原密码:</label>
                    <input id="txtOldPW" class="PassWordChangeInput" type="password" value="" maxlength="30" />
                    <label class="PassWordChangeTips">*密码不对</label>
                </div>
                <div class="PassBox PassBox2">
                    <label class="PassWordChangeDesc">新密码:</label>
                    <input id="txtNewPW" class="PassWordChangeInput" type="password" value="" maxlength="30" />
                    <label class="PassWordChangeTips">*密码不一致</label>
                </div>
                <div class="PassBox PassBox3">
                    <label class="PassWordChangeDesc">确认密码:</label>
                    <input id="txtConfirmPW" class="PassWordChangeInput" type="password" value="" maxlength="30" />
                    <label class="PassWordChangeTips">*密码不一致</label>
                </div>
            </div>

            <div class="PassWordChangeBtnWrap">
                <span class="btnOK span_1">确认</span>
                <span class="btnReset span_2">重置</span>
            </div>

        </div>
    </div>



</div>
<div class="height0"></div>